* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: white;
}

p {
  margin-top: 0px;
}

p.s1 {
  font-weight: bolder;
}

span.v {
  padding-right: 0.5em;
}

.ql-image {
  display: none !important;
}

img.pointer {
  cursor: pointer;
}

.p-toolbar {
  color: white;
  background: #25416B;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

a:link {
  color: #e9d5a2;
  text-decoration: none;
  font-size: x-small;
}

a:visited {
  color: #e9d5a2;
  text-decoration: none;
  font-size: x-small;
}

a:hover {
  color: #e9d5a2;
  text-decoration: none;
  font-size: x-small;
}

a:active {
  color: #e9d5a2;
  text-decoration: none;
  font-size: x-small;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #736441;
  font-size: 3rem;
  font-weight: 300;
  line-height: 56.016px;
  margin-bottom: 0px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #25416b;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #25416b;
}

.p-fieldset-legend-text {
  padding-left: 16px;
  font-size: x-large;
}

.p-fieldset-content {
  background-color: white;
  color: #25416b;
}

.p-button {
  background-color: #25416B;
  color: #ffffff;
}

.p-button-icon {
  margin: 3px;
}

.overlay-panel {
  box-shadow: 3px 6px 3px 6px rgba(0, 0, 0, 0.16), 3px 6px 3px 6px rgba(0, 0, 0, 0.23);
  margin-left: 20px;
  margin-right: 40px;
  padding-top: -20px;
}