* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #efefff;
}

p.s1 {
  font-weight: bolder;
}

span.v {
  padding-right: 0.5em;
}

.ql-image {
  display: none !important;
}
